
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
body {
  background-color: #f5f8fa;
}
.bg-profile{
  background-color: #f5f8fa;
  height: 100vh;
}
.bg-custom {
  background-color: black !important;
  color: white !important;
}
.nav-bg{
  background-color: #0C66E4 !important;
}
.nav-link {
  color: #fff !important;
}

.btn-default-outline {
  color: #000 !important;
  background-color: transparent;
  border-color: #000;
  width: 200px;
  border-radius: 50px;
}

.btn-default-outline:hover {
  color: #fff !important;
  background-color: #000;
  box-shadow: none;
}

.forgot:hover {
  color: #000 !important;
}

.login {
  color: #000;
}

.user-icon {
  font-size: 60px;
  color: #C0C0C0;
}

.avatar {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

.share {
  margin: 0px auto 10px auto;
}